.item-high-light {
  margin-bottom: 30px;
}

.item-content {
  font-size: 1.3rem;
  margin-right: 30px;
  border: 1px solid #acacac;
  height: 17.8rem;
}

.item-title {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}

/* @media only screen and (max-width: 360px) {
  .item-high-light {
    width: 30.5rem;
    height: 30rem;
    font-size: 1.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media only screen and (min-width: 361px) {
  .item-high-light {
    width: 41.2rem;
    height: 17.8rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
} */

@media only screen and (max-width: 480px) {
  .item-high-light {
    width: 100%;
    height: 30rem;
    font-size: 1.5rem;
    /* padding-right: 4rem;
    padding-left: 4rem; */
    /* background-color: blue; */
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .item-high-light {
    width: 50%;
    /* height: 30rem; */
    font-size: 1.5rem;
    /* padding-right: 4rem;
    padding-left: 4rem; */
  }
}

@media screen and (min-width: 961px) {
  .item-high-light {
    width: 33.333%;
    font-size: 1.5rem;
    /* padding-right: 2rem;
    padding-left: 2rem; */
    /* padding-bottom: 2rem;
    margin-bottom: 1rem; */
  }
}
