.item-high-light {
  margin-bottom: 30px;
}

.item-content {
  font-size: 1.4rem;
  margin-right: 30px;
  border: 1.5px solid rgba(59, 54, 74, 0.3);
  min-height: 17.8rem;
  color: var(--color-grey-dark);
  padding: 2rem;
  height: 100%;
}

.item-title {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}

@media only screen and (max-width: 480px) {
  .item-high-light {
    width: 100%;
  }

  .item-content {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .item-high-light {
    width: 50%;
  }
}

@media screen and (min-width: 961px) {
  .item-high-light {
    width: 33.333%;
  }
}

.item-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon-item {
  font-size: 2.3rem;
  color: rgba(59, 54, 74, 0.3);
}
