.notificationContainerPanel {
  background-color: var(--color-grey-light);
  color: var(--color-grey-dark);
  font-size: 1.5rem;
  position: fixed;
  width: inherit;
  max-width: inherit;
  top: 0;
  z-index: 3;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 1.85rem;
  padding-right: 1.85rem;
}

.notification-panel {
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.85rem;
  margin-bottom: 1.85rem;
}

.notifcation-button {
  display: block;
  width: 8rem;
  height: 4.2rem;
  cursor: pointer;
  border: 0;
  outline: none;
  color: var(--color-grey-light);
  border-radius: 2px;
  background-color: var(--color-primary);
  margin-top: 0.5rem;
}

.notification-text {
  max-width: 64rem;
  padding-right: 3.9rem;
}

@media only screen and (max-width: 360px) {
  .notification-text {
    font-size: 1.1rem;
  }

  .notifcation-button {
    height: 3rem;
    margin-top: 1rem;
    width: 5.4rem;
  }
}

.dropdown-panel {
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.link-term {
  color: blue;
}
